<!-- imagepage.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploading</title>
</head>

<body>
    <h1>To Upload Image on MongoDB</h1>
    <hr />
    <div>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div>
                <label for="image">Upload Image</label>
                <input type="file" id="image" name="image" required />
                <input type="text" id="description" name="description" required />

            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <hr />
    <div>
        <% if (items.length > 0) { %>
            <% items.forEach(item => { %>
                <div style="display:inline-block;">
                    <img src="data:<%= item.img.contentType %>;base64,<%= item.img.data.toString('base64') %>" width="190" />

                <p><%= item.img.description %></p></div>
            <% }); %>
        <% } %>
    </div>
</body>
</html>
