<!-- imagepage.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploading</title>

<style>

</style>
</head>
<body>
    <h1>To Upload Image on MongoDB</h1>
    <hr />
    <div>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div>
              <label for="image">Upload Image</label>
              <input type="file" id="image" name="image" accept="image/*" required />
                <label for="description">Description</label>
                <input type="text" id="description" name="description" required />

                <id="address" name="address" />

            </div>
            <div>
<button type="submit" onclick="window.Android.showToast('Button clicked!')">Click Me in HTML</button>
                
            </div>
        </form>
    </div>
    <hr />
    <div style="display:inline-block, justify-content: center, aline-items: center">
        <% if (items.length > 0) { %>
            <% items.forEach(item => { %>
                <div style="justify-content:center aline-items:center">
                    <img src="data:<%= item.img.contentType %>;base64,<%= item.img.data.toString('base64') %>" width="200" style="display:flex; justify-content:center; align-items:center; border: 2px solid black;" />
<p style="text-align:center;"><%= item.img.description %></p>

                </div>
            <% }); %>
        <% } %>
    </div>
</body>
</html>
