<!-- imagepage.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploading</title>

<style>
.image-container {
    display: flex; /* Positions children side by side */
    gap: 20px;     /* Adds space between the images */
    justify-content: center; /* Centers the images within the container (optional) */
}

.image-container img {
    max-width: 40%; 
    height: auto;
    
    flex: 2; 
}
</style>
</head>
<body>
    <h1>To Upload Image on MongoDB</h1>
    <hr />
    <div>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div>
              <label for="image">Upload Image</label>
              <input type="file" id="image" name="image" accept="image/*" required />
                <label for="description">Description</label>
                <input type="text" id="description" name="description" required />

                <id="address" name="address" />

            </div>
            <div>
<button type="submit" onclick="window.Android.showToast('Button clicked!')">Click Me in HTML</button>
                
            </div>
        </form>
    </div>
    <hr />
<div class="image-container-grid">
        
        <% if (items.length > 0) { %>
            <% items.forEach(item => { %>
             
                    <img src="data:<%= item.img.contentType %>;base64,<%= item.img.data.toString('base64') %>" />
<p style="text-align:center;"><%= item.img.description %></p>
                
            <% }); %>
        <% } %>
    
</div>
</body>
</html>
